---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News..</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <h2>Teaching</h2>
    <ul>
      <li>CS7331, Advanced Computer Architecture (for CS Postgraduates), 2024Fall.</li>
      <li>SE3357, Operating System (for John Class), 2024Spring.</li>
      <li>Head Teacher for John Hopcroft Class (john2332), 2023-2027.</li>
      <li>CS7331, Advanced Computer Architecture (for CS Postgraduates), 2023Fall.</li>
      <li>SE3357, Operating System (for John Class), 2023Spring.</li>
      <li>COMP3511, Operating System (TA at HKUST), 2015-2017.</li>
    </ul>

    <h2>Honors</h2>
    <ul>
      <li>StarTrack Scholar, Microsoft Research Asia, 2023</li>
      <li>Pujiang Talent, Shanghai, 2022</li>
      <li>Huawei Innovation Pioneer, 2019H2, 2020H1, 2020H2</li>
      <li>Postgraduate Studentship, HKUST, 2014-2018</li>
      <li>Fellowship for Oversea Exchange, Tsinghua University, 2013</li>
      <li>National Encouragement Scholarship, Tsinghua University, 2012.</li>
      <li>Zheng Ge-ru Scholarship, Tsinghua University, 2011.</li>
      <li>Outstanding Student, Henan Province, 2010.</li>
    </ul>

    <h2>Professional Services</h2>
    <ul>
      <li>Technical Program Committee for INFOCOM 2024, ICDCS 2023/2024, IWQoS 2024, ICPADS 2024</li>
      <li>Reviewer for TPDS, ToN, TCC, JSAC, TIFS</li>
      <li>Web Chair for ICA3PP 2023</li>
      <li>Student Travel Grant Chair for APNet 2023</li>
    </ul>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
